.container {
  max-width: 140rem;
  padding:5rem;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    padding: 5rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 2.5rem;
  }
}

@media (max-width: 3rem) {
  .container {
    padding: 1rem;
  }
}
