:root {
    --white: white;
    --background-mask: #2F1893;
    --purple-button: #482BE7;
    --aqua-button: #482BE7;
    --dark-aqua-button: #482BE7;
    --purple-button: #E93A7D;

    --form-text: #151439;
    --form-heading: #1E0E62;
}

body {
    font-family: "DM Sans", sans-serif;
}