:root {
    --white: white;
    --white-rgb: 255, 255, 255;
    --gray: #EBEAED;
    --background-mask: #2F1893;
    --purple-button: #482BE7;
    --aqua-button: #25DAC5;
    --social-button: #1DA1F2;
    --dark-aqua-button: #482BE7;
    --light-purple-button: #E93A7D;
    --youtube-button: #EA3223;
    --form-text: #151439;
    --form-heading: #1E0E62;
    --dark-form-text: #141414;
}

html {
	font-size: 62.5%;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: var(--background-mask);
    color: var(--white);
    font-size: 1.6rem;
}

@media (max-width: 1024px) {
    body {
        font-size: 1.4rem;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 1.2rem;
    }
}