.contact {
    min-height: 77rem;
    background-image: url(../../assets/images/Contact/background.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    &__container {
        display: flex;
        min-height: 77rem;
        justify-content: center;
        align-items: center;
    }

    &__description-box {
        max-width: 41rem;
        width: 100%;
        margin-right: 9rem;
        flex: 0 0 50%;
    }

    &__header {
        font-size: 4.2rem;
        font-weight: 600;
        letter-spacing: -0.4rem;
        line-height: 5.2rem;
    }

    &__description {
        margin-top: 2.8rem;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 3.2rem;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        max-width: 28.4rem;
        margin-top: 5.3rem;
    }

    &__info-block {
        display: flex;
    }

    &__info-item {
        margin-left: 1.5rem;
    }

    &__form-wrapper {
        max-width: 47rem;
        width: 100%;
        flex: 0 0 50%;
    }

    &__form {
        padding: 5.7rem 5rem;
    }

    &__form-content {

    }

    &__input-row {
        display: flex;
        flex-direction: row;

        gap: 3rem;
    }

    &__input-column {
        display: flex;
        flex-direction: column;
    }

    &__input-budget {
        flex: 0 0 14rem;
    }

    &__label {
        color: var(--form-heading);
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 2.6rem;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
    }

    &__label-email {
        margin-top: 3.5rem;
        margin-bottom: 0.6rem;
        display: inline-block;
    }
    
    &__label-message {
        margin-top: 3.5rem;
        margin-bottom: 0.6rem;
        display: inline-block;
    }

    &__input {
        width: 100%;
    }

    &__select {
        height: 5rem;
    }

    &__input-checkbox {
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;
    }

    &__checkbox-wrapper {
        display: flex;
        align-items: center;
    }

    &__checkbox {
        width: 2rem;
        height: 2rem;
        border-radius: 0.6rem;
    }

    &__checkbox-label {
        color: var(--form-text);
        opacity: 0.4;
        margin-left: 1.2rem;
    }

    &__submit-button {
        transition: all 0.3s ease;
        width: 12rem;
        &:hover {
            opacity: 0.8;
        }
    }

}