.header {
  width: 100%;
  padding: 3rem;
  font-size: 1.8rem;
  font-weight: 500;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 20;
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;

  &.scrolled {
    background-color: var(--background-mask);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }

  nav {
    width: 100%;
  }


  &__menu {
    margin: 0 auto;
    max-width: 468px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  &__navigate-link {
    color: white;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    &:hover {
      opacity: 0.3;
    }
  }

  &__hamburger-menu {
    display: none;
  }
}


@media (max-width: 768px) {
  .header {
    --header-height: 6rem;
    background-color: var(--background-mask);
    height: var(--header-height);
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0 3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

    &__hamburger-menu {
      z-index: 4;
      cursor: pointer;
      display: block;
      width: auto;
      height: auto;

      &.active {
        .line-1 {
          -webkit-transform-origin: center;
                  transform-origin: center;
          -webkit-transform: translateY(1.75rem) rotate(45deg);
                  transform: translateY(1.75rem) rotate(45deg);
        }

        .line-2 {
          opacity: 0;
        }

        .line-3 {
          -webkit-transform-origin: center;
                  transform-origin: center;
          -webkit-transform: translateY(-1.75rem) rotate(-45deg);
                  transform: translateY(-1.75rem) rotate(-45deg);
        }
      }
    }

    &__hamburger-menu-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      gap: 1.3rem;
      position: relative;

      span {
        border-radius: 0.2rem;
        width: 5rem;
        height: 0.5rem;
        background-color: var(--white);
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }

      .line-1,
      .line-2,
      .line-3 {
        position: relative;
      }
    }

    nav {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }

    &__menu {
      max-width: 100%;
      padding: 0;
      margin: 0;
      z-index: 2;
      position: absolute;
      left: 0;
      top: -50rem;
      right: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      background-color: var(--background-mask);
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;

      &.active {
        top: var(--header-height);
      }

      li {
        width: 100%;
        font-size: 2rem;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }

      li:hover {
        background-color: var(--form-text);
      }
    }

    &__navigate-link {
      width: 100%;
      text-align: center;
      display: block;
      padding: 2rem 0;
    }
  }
}
